:root {
    --gray: #ededed;
    --blue: rgb(15, 93, 149);
    --hovergray: #dedede;
    --hoverblue: rgb(176, 212, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: var(--blue);
    color: white;
    text-align: center;
}

h1,
.catalog {
    padding: 40px;
}

#add {
    padding: 40px;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 3px var(--hovergray);
}

#add:hover {
    background-color: var(--hovergray);
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 250px;
    gap: 20px;
    justify-content: center;
}

.catalog div {
    font-size: 18px;
    line-height: 1.5em;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--hovergray);
    padding: 20px;
}

.catalog button {
    font-size: 14px;
    width: 150px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-weight: 300;
    background-color: white;
}

.catalog button:hover {
    background-color: var(--hovergray);
}

dialog {
    width: 300px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
}

#modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    font-size: 25px;
}

dialog button {
    padding: 10px 30px;
    background-color: var(--gray);
    border: 1px solid gray;
    border-radius: 5px;
}

#close:hover {
    background-color: var(--hovergray);
}

#submit:hover {
    background-color: var(--hoverblue);
}

form * {
    font-size: 18px;
    font-weight: 500;
}

.form-row {
    margin: 20px 0;
}

.form-row input[type="text"],
.form-row input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}